
<div>
<h2>Om uppgiften</h2>

<p>Den här webbplatsen har skapats med ramverket Angular och består av tre "undersidor". Totalt har åtta komponenter
    skapats till webbplatsen - tre komponenter som motsvarar respektive "undersida", en komponent för celsius &#x21c4;
    fahrenheit-konverteraren, en komponent för fot &#x21c4; meter-konverteraren, en komponent för header, en för footer,
    en för huvudmeny och en för headern som återfinns på startsidan.</p>
<br>
<p>Navigeringen i huvudmenyn har skapats med Angulars router-modul. Konverteringskomponenterna har skapats med
    databindning och Angulars FormsModule.</p>
</div>

<div>
<h2>Slutsatser</h2>
<p>Det känns som att jag bara skrapat lite på ytan av hur det är att använda ramverk i utvecklingen, men wow! Jag vill
    lära mig mer. Det har verkligen varit uppskattat att få så mycket "gratis" redan vid uppstarten av
    Angular-projektet. Jag gillar också tanken på att kunna skapa lite mer avancerade komponenter än de som skapats för
    denna webbplats och att det är så enkelt att återanvända dem i andra projekt. Jag är otroligt taggad på att fortsätta lära mig Angular.</p>
</div>