

nav {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.416);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index:10;
    height: 2.5em;
}

ul {
    display: flex;
    list-style-type: none;
    margin-right: 10%;
}


a { 
    padding: 0.5em 1.5em;
    text-decoration: none;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

a:hover {
    background-color: rgba(255, 132, 0, 0.603);
}

.current {
    background-color: rgba(255, 132, 0, 0.603);
}