

<!--Meter <-> Fot-->
<div class="container">
    <h3>Konvertera meter &#x21c4; fot</h3>
    <div class="input">
        <label for="mtofeetnum">Ange värdet du vill konvertera:</label>
        <input type="number" id="mtofeetnum" name="mtofeetnum" [(ngModel)]="mtofeetnum">
    </div>

    <div class="buttons"><button (click)="meterToFeet()">Meter till Fot</button>
        <button (click)="feetToMeter()">Fot till Meter</button></div>
    
    <div class="result"><p>Resultat: {{ result }}</p></div>
    </div>
    