<!--Celsius <-> Fahrenheit-->

<div class="container">
    <h3>Konvertera celsius &#x21c4; fahrenheit</h3>
    <div class="input">
        <label for="ctofnum">Ange värdet du vill konvertera:</label>
        <input type="number" id="ctofnum" name="ctofnum" [(ngModel)]="ctofnum">
    </div>

    <div class="buttons"><button (click)="celsiusToFahrenheit()">Celsius till Fahrenheit</button>
    <button (click)="fahrenheitToCelsius()">Fahrenheit till Celsius</button></div>
    
    <div class="result"><p>Resultat: {{ result }}</p></div>
</div>
    